<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Apply Filter</h2>
        </mat-panel-title>
        <mat-panel-description>
          Apply filters to get suitable results
        </mat-panel-description>
      </mat-expansion-panel-header>
  


      <app-slider></app-slider>
      <hr>
      <app-ram-filter ></app-ram-filter>
      <hr>
      <app-drop-downs></app-drop-downs>
    </mat-expansion-panel>
   
  </mat-accordion>