<mat-accordion class="accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="text-dark-blue accordion__label-1">Apply Filter</h2>
        </mat-panel-title>
        <mat-panel-description >
          <span class="text-dark-blue accordion__label-2"> Apply filters to get suitable results</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
  


      <app-slider></app-slider>
      <hr>
      <app-ram-filter ></app-ram-filter>
      <hr>
      <app-drop-downs></app-drop-downs>
    </mat-expansion-panel>
   
  </mat-accordion>