@mixin clearfix {
    &::after{
        content:"";
        clear:both;
        display: table;
    }
}


@mixin truncate-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width:150px;
}